/* App Fonts */

@font-face {
  font-family: "TTnorms";
  src: url("../project/fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Medium";
  src: url("../project/fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
  font-family: "TTNorms Light";
  src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
  font-family: "Times Roman Italic";
  src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}
/* Normalize Css */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0; /* 3 */
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Start Project */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "TTNorms";
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}
.main {
  flex: 1;
}
/* header */
.header {
  background-image: url(../images/live-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header-wrapper {
  margin: 2rem 0rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.nav {
  color: black;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 5rem;
}
.nav-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-logo-text {
  font-size: 1.6rem;
}
.nav-logo-round {
  width: 0.3rem;
  height: 0.3rem;
  background: red;
  border-radius: 10rem;
  margin: 0.8rem 0.4rem 0 0.4rem;
}
.nav-menu {
  padding-left: 0;
  display: flex;
}
.nav-manu-item {
  list-style: none;
  margin: 0 2rem;
}
.nav-reserve {
  display: flex;
  align-items: center;
}
.nav-reserve-text {
  padding-right: 2rem;
}
.nav-reserve-link {
  text-decoration: none;
  background-color: red;
  color: #fff;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  outline: 0;
  transition: 0.4s;
}
.nav-reserve-link:hover {
  cursor: pointer;
  background-color: black;
}
/* head/nav-bottom */

.nav-bottom {
  margin: 22rem 0;
  /* why */
}

#slideset1 {
  /* position: relative; */
}
#slideset1 div {
  max-width: 50%;
  top: 18rem;
  left: 6rem;
  position: absolute;
}
#slideset1 > * {
  visibility: hidden;
  animation: 18s autoplay1 infinite;
}
@keyframes autoplay1 {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}
#slideset1 > *:nth-child(1) {
  animation-delay: 0s;
}
#slideset1 > *:nth-child(2) {
  animation-delay: 6s;
}
#slideset1 > *:nth-child(3) {
  animation-delay: 12s;
}

#slideset1 p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}
#slideset1 h1 {
  color: #fff;
  font-size: 3.5rem;
  margin-bottom: 2.5rem;
}

.nav-bottom-link {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 1rem 2rem;
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
  background-color: red;
  transition: 0.4s all;
  border: none;
}
.nav-bottom-link:hover {
  background-color: #fff;
  color: black;
}
/* Main-Story */
.story {
  display: flex;
  align-items: center;
  margin: 8rem 6rem;
}
.story-content-left {
  flex: 0 0 50%;
}
.story-content-left-box {
  max-width: 40rem;
}
.story-content-left-box span {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
}
.story-content-left-box p {
  color: #9e9e9e;
  line-height: 1.8rem;
  font-size: 1.2rem;
}
.story-content-right {
  flex: 0 0 50%;
  max-width: 46rem;
}
.story-content-right img {
  width: 100%;
}
/* Main-meet-our-chefs */
.meet {
  background-color: #f7f3f3;
  padding: 8rem 6rem 2rem;
}

.meet-text-section {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
.meet-text-section p {
  color: #9e9e9e;
  font-size: 0.8rem;
  margin: 2rem 2rem 4rem 2rem;
  font-weight: bold;
}
.chefs {
  display: flex;
  justify-content: space-between;
}
.chef {
  flex-basis: 27rem;
}
.team-hover {
  position: relative;

  /* height: 30.2rem; */
}
.team-hover img {
  width: 100%;
  height: 100%;
  transition: all 1.5s;
}
.team-hover:hover img {
  transform: scale(1.2);
}
.team-hover-div-img {
  overflow: hidden;
}
.team-item {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 1.5s;
}

.team-hover:hover .team-item {
  background-color: #2e2e2e;
  opacity: 0.8;
  /* transform: translateY(0); */
}
.social-icon {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}
.social-icon-div {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100rem;
  background-color: #424242;
  margin: 0.5rem;
  padding: 0.5rem 0.3rem 0rem 0.6rem;
}

.team-item h4 {
  font-size: 1.6rem;
  padding: 16rem 3.5rem 0rem 3.5rem;
  margin: 0;
  color: #fff;
}
.envelope-1 {
  color: #fff;
  display: flex;
  align-items: center;
}
.linkedin-1 {
  color: #fff;
  display: flex;
  align-items: center;
}

.social-icon-div:hover {
  background-color: red;
}
.team-hover-name {
  text-align: center;
}
.team-hover-name p {
  color: #9e9e9e;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
}
/* main-ourmenus */
.menus {
  padding-top: 6rem;
}
.foodmenu {
  display: flex;
  flex-wrap: wrap;
}
.dishes {
  position: relative;

  flex-basis: 33.33%;
  max-height: 24rem;
}

.dishes-div-image {
  overflow: hidden;

  height: 100%;
}
.dishes-div-image img {
  width: 100%;
  height: 100%;
  transition: 0.8s all;
}
.dishes-hover {
  display: flex;
  transition: 0.8s all;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 35%;
  transform: translatey(-100%);
  opacity: 0;
  padding: 2.5rem;
  color: #fff;
}
.dishes:hover .dishes-hover {
  opacity: 0.8;
  background-color: #2e2e2e;
  /* transform: translatey(0); */
}
.dishes:hover {
  cursor: pointer;
}
.dishes:hover img {
  transform: scale(1.2);
}
.dishes-div-image {
}

.dishes-text2 h5 {
  margin: 0;
  font-size: 2rem;
}
.dishes-text2 p {
  font-size: 0.8rem;
  font-weight: bold;
}
.dishes-text1 {
  font-size: 2rem;
  font-weight: bold;
}
/* main-last-section */
.Testim {
  background-image: url(https://templatemo.com/templates/templatemo_515_eatery/images/testimonial-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Testim-h4 {
  margin: 0;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
}
.animation-section {
  text-align: center;
  position: relative;
  margin: 0 auto;
}
.animation-section-text1 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}

.animation-section div span {
  font-size: 1.2rem;
  font-weight: lighter;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.dots .dot {
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border: 4px solid rgb(125, 122, 122);
  border-radius: 50%;
  margin: 0 0.5rem;
}
.animation-section > * {
  position: absolute;
  visibility: hidden;
  animation: 18s autoplay infinite;
}
@keyframes autoplay {
  0% {
    visibility: visible;
  }
  33.33% {
    visibility: hidden;
  }
}
.animation-section > *:nth-child(1) {
  animation-delay: 0s;
}
.animation-section > *:nth-child(2) {
  animation-delay: 6s;
}
.animation-section > *:nth-child(3) {
  animation-delay: 12s;
}
/* footer */
.footer {
  background-color: #f7f3f3;
}
.footer-wrapper {
  padding: 8rem 6rem 2rem;
}
.footer-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6rem;
}
.footer-up-line {
  border-bottom: 1px solid grey;
}
.footer-up-map {
  flex-basis: 50%;
}
.footer-up-form {
  flex-basis: 50%;
}
.footer-up-form h1 {
  font-size: 2.5rem;
  margin: 0 0 3rem;
}
input {
  outline: 0;
  border: 0;
  font-size: 1.2rem;
  border-bottom: 1px solid grey;
  background-color: transparent;
  padding-bottom: 1.5rem;
}
#name {
  margin-bottom: 3rem;
  width: 47%;

  margin-right: 2rem;
}
#Email {
  margin-bottom: 3rem;
  width: 47%;
}
#subject {
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  margin-bottom: 2rem;
  width: 100%;
}
#project {
  font-size: 1.2rem;
  background-color: #f7f3f3;
  max-height: 8rem;
  overflow: auto;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  width: 100%;
  margin-bottom: 1rem;
  word-wrap: break-word;
}
#footer-up-link {
  width: 100%;
  text-align: center;
  background-color: red;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 1.2rem;
  font-weight: bold;
}
/* Footer-bottom */
.footer-bottom {
  padding: 10rem 6rem 6rem;
  border-top: 1px solid rgb(231, 224, 224);
}
.footer-bottom-boxes {
  display: flex;
  height: 20rem;
  justify-content: space-between;
  /* align-items: center; */
}
.footer-bottom-box1 {
}
.footer-bottom-box1 h2 {
  font-size: 1.6rem;
}
.footer-bottom-box1 p {
  line-height: 2rem;
  font-size: 1.2rem;
  color: #6c6c6c;
}
.footer-bottom-box3 {
  background-image: url(https://templatemo.com/templates/templatemo_515_eatery/images/footer-open-hour-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 0.8rem;
  position: relative;
  flex-basis: 34%;

  color: #fff;
}
.background {
  background-color: #212121;
  position: absolute;
  transform: translateY(0);
  width: 100%;
  height: 100%;
  padding: 0 5rem;
  opacity: 0.8;
  border-radius: 0.9rem;
}
.footer-bottom-box3 h2 {
  font-size: 1.6rem;
}
.footer-bottom-box3 .narrow {
  font-size: 1.2rem;
}
.footer-bottom-box3 .bold {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-bottom-box4 {
}
.socialmedia {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.socialmedia li {
  padding: 1rem;
  color: red;
}
.footer-bottom-box4 p {
  font-size: 1.2rem;
  color: #6c6c6c;
}
.footer-bottom-box4 a {
  text-decoration: none;
  color: #6c6c6c;
}
.footer-bottom-box4 a:hover {
  color: red;
}
/* Project Responsive */
@media only screen and (max-width: 1200px) {
  .container-wrapper {
    max-width: 960px;
  }
}

@media only screen and (max-width: 992px) {
  .container-wrapper {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .container-wrapper {
    max-width: 540px;
  }
}

@media only screen and (max-width: 576px) {
  .container-wrapper {
    max-width: 100%;
  }
}
@media screen and (min-width: 370px) {
}
