body{margin: 0;}
ul{
    list-style: none;
    margin: 0px;
   padding: 0px;
   display: flex;

    top: 0;
    width: 100%;
    background-color:#607D8B;

}
ul li a{
text-decoration: none;
padding: 20px;
color: black;

text-align: center;
}
ul li a:hover{
    background-color: green;
    display: block;
}

@media screen and (max-width:685px) {
    ul{flex-direction: column;
        text-align: center;
    }
    
}