body {
    direction: rtl;
    background-color: #f5f5f5;
    font-size: 13px;
    font-family: yekan bakh;
}
.container {
    margin: 40px auto;
    max-width: 700px;
    text-align: center;
}
ul{
    text-align: right;
    display: inline-block;
    list-style-type: none;
    padding-left: 0px;
}
.menu li{
    float: right;
    padding: 0.6em 1em;
    border: 1px solid #eee;
    cursor: pointer;
    background-color: #b1aab3;
    border-radius: 5px;
    margin: 1px;
    transition: 300ms;
    position: relative;
}
.menu li:hover{
    background-color: #EC407A;
    color: #f5f5f5;
}
li ul{
    display: none;
    width: 150px;
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
}
li:hover ul{
    display: block;
}
li ul li{
    width: 100%;
}
li.submenu::after{
    content: "\25BC";
    font-size: 0.7 em;
    padding-right: 2px;
}
.submenu:hover::after{
    content: "\25B2";
    font-size: 0.7 em;
    padding-right: 2px;
}